#-----------------------------------------------------------
# These are the files that I do not want include in my repo
#-----------------------------------------------------------

# Some hidden file created by mac computer
.DS_Store

# The file that contains my own firebase API key
# Everyone on the team can maintain their own local file with key
firebase_api_carly.js

